// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a {
  text-decoration: none;
  color: #000000;
}

body {
  color: #000000;
  font-family: 'Arial'
}

h1 {
  font-family: 'Arial';
}

.question {
  border-left: solid 5px;
  padding-left: 10px;
  border-color: #A9A9A9;
}


.answer {
  border-left: solid 5px;
  padding-left: 10px;
  border-color: #A9A9A9;
  background-color: #FFF8DC;
  width: 200px;
}
